/* CONFIG */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

::selection {
  color: #ef7829;
  background: #fff;
}

/* UTILITIES */

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.change-color {
  animation: colorChange 4s infinite;
}
/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

h2 {
  font-family: Merriweather, serif;
}

/* BUTTONS */

.btn {
  background-color: #ef7829;
  padding: 18px 58px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ef7829;
  transition: 0.3s;
}

.btn:active {
  transform: scale(1.02);
  transition: 0.1s;
}

.btn-secondary {
  background-color: #fff;
  padding: 18px 58px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #000;
}

.btn-secondary:hover {
  background-color: #ef7829;
  color: #fff;
  transition: 0.3s;
}

.btn-secondary:active {
  transform: scale(1.02);
  transition: 0.1s;
}

.btn-terciary {
  background-color: #93bc38;
  padding: 18px 58px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;
  text-align: center;
}

.btn-terciary:active {
  transform: scale(1.02);
  transition: 0.1s;
}

.btn-terciary:hover {
  background-color: #ef7829;
  color: #fff;
  transition: 0.3s;
}

.btn-noborder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.btn-noborder:hover {
  color: #93bc38;
}

.btn-article {
  align-self: flex-start;
  background-color: #ef7829;
  padding: 18px 58px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;
}

.btn-article:hover {
  background-color: #fff;
  color: #ef7829;
  border: 0.5px solid #ef7829;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #000 !important;
}
/* NAV & HERO */

.navbar {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  gap: 5em;
}

.navbar ul li a {
  color: #fff;
  display: inline-block;
  opacity: 0.75;
  font-size: 1.3em;
}

.navbar ul li a:hover {
  opacity: 1;
  color: #ef7829;
  transition: 0.5s ease;
}

.active {
  color: #ef7829 !important;
  font-weight: 700;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 42px;
}

.hero-logo-container a img {
  width: 100% !important;
  height: 100%;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(images/hero_home1.jpg);
  background-position: 40%;
  background-size: cover;
  height: 950px;
}

.hero-about {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(images/hero_about.jpg);
  background-position: 50%;
  background-size: cover;
  height: 600px;
}

.hero-strains {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(images/hero_strains.jpg);
  background-position: 50%;
  background-size: cover;
  height: 600px;
}

.hero-learn {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)), url(images/hero_learn.jpg);
  background-position: 50%;
  background-size: cover;
  height: 600px;
}

.hero-content {
  margin-top: 15em;
  overflow: hidden;
  text-align: center;
  padding-bottom: 55px;
}

.hero-content h1 {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 5em;
  color: #fff;
  margin-bottom: 0.2em;
}

.hero-content p {
  color: #fff;
  width: 45%;
  margin: auto;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}

.hero-content h1,
.hero-content p,
.hero-content-buttons,
.get-high {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.hero-content-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.hero-content-buttons-sub {
  display: flex;
  gap: 2em;
}

.get-high {
  padding: 18px 33px;
}

/* ABOUT PAGE */

.hero-content-about {
  margin-top: 15em;
  overflow: hidden;
  text-align: left;
}

.hero-content-about h1 {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 4em;
  color: #fff;
  margin-bottom: 0.2em;
}

.hero-content-about p {
  color: #fff;
  font-size: 1.1em;
}

.about-content {
  padding: 4em;
}

.about-content h2 {
  font-family: Montserrat, sans-serif;
  margin-bottom: 1.5em;
  font-weight: 600;
  font-size: 1.7em;
}

.about-content h3 {
  font-weight: 500;
  margin-bottom: 0.6em;
  font-size: 1.3em;
}

.about-content p {
  margin-bottom: 2em;
}

.about-content h4 {
  margin-top: 3em;
  font-family: Merriweather, serif;
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
}

/* STRAINS CONTENT */

.hero-content-strains {
  margin-top: 15em;
  overflow: hidden;
  text-align: left;
}

.hero-content-strains h1 {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 4em;
  color: #fff;
  margin-bottom: 0.2em;
}

.hero-content-strains p {
  color: #fff;
  font-size: 1.1em;
}

.strains-header {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  padding-top: 2.3em;
  text-align: left;
}

/* UNDER HERO TEXT */

.text-content {
  background-color: #ef7829;
  padding: 116px 0;
  margin-bottom: 6em;
}

.text-content h2 {
  font-weight: 400;
  font-size: 3em;
  color: #fff;
  text-align: center;
}

/* FAV STRAINS */

.card-collection-text {
  text-align: center;
  margin-bottom: 6em;
}

.header2 {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 0.1em;
  text-align: center;
}

.card-collection-text p {
  font-size: 2em;
}

.card-collection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.product-card {
  overflow: hidden;
  width: 400px;
  padding: 2em;
  border-radius: 35px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translate(0, -10px);
}

.strain-type {
  text-align: left;
  font-weight: 700;
}

.strain-type-text {
  background-color: #edf0f7;
  padding: 6px 24px;
  border-radius: 8px;
  display: inline-block;
}

.text-half {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.text-half h3 {
  font-size: 2em;
}

.text-half a {
  margin-top: 1.5em;
}

/* STRAINS PAGE */

.card-collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  margin-bottom: 6em;
}

/* DEALER NEWSLETTER */

.dealer-newsletter {
  height: 500px;
  background: linear-gradient(to right, rgb(147, 188, 56) 40%, rgba(0, 0, 0, 0) 100%), url(images/dealer.jpg);
  background-size: cover;
  margin-bottom: 5em;
  padding: 5em;
  margin-top: 5em;
}

.dealer-newsletter h2 {
  font-size: 3em;
  font-weight: 400;
  width: 45%;
  margin-bottom: 0.8em;
}

.dealer-newsletter a,
.newsletter a {
  text-decoration: underline;
  line-height: 1.7em;
}

.dealer-newsletter h2 span {
  font-weight: 800;
}

.dealer-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 1.2em;
}

.dealer-form input[type='email'],
.dealer-form input[type='submit'] {
  border: 0;
  width: 100%;
  padding: 18px 58px;
  border-radius: 30px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  appearance: none;
  -webkit-appearance: none;
}

.dealer-form input:focus {
  outline: none;
}

/* LEARN SECTION */

.learn-section {
  height: 100%;
  margin-bottom: 5em;
}

.learn-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-section-text p {
  text-align: center;
  font-size: 1.3em;
  width: 40em;
}

.learn-header {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  padding-top: 2.3em;
  text-align: left;
}

.article-container {
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: 60px;
  overflow: hidden;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin-bottom: 3em;
  margin-top: 4em;
}

.article-container {
  grid-column: span 2;
}

.article-img-container {
  width: 100%;
  height: 100%;
}

.article-img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
}

.article-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: middle;
}

.article-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 42px 42px;
}

.article-content h3 {
  color: #fff;
  margin-bottom: 24px;
  font-size: 2em;
  font-weight: 600;
}

.article-container-alt {
  width: 100%;
  max-height: 510px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  margin-bottom: 2em;
}

.article-img-container-alt {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.article-image-alt {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: middle;
  border-radius: 35px 35px 0 0;
}

.article-content-alt {
  background: white;
  color: black;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.article-content-alt h3 {
  font-size: 1.8em;
  font-weight: 600;
}

.newsletter {
  background: rgb(229, 89, 51);
  background: radial-gradient(circle, rgba(229, 89, 51, 1) 44%, rgba(239, 120, 41, 1) 74%, rgba(254, 232, 76, 1) 96%);
  color: #fff;
  padding: 72px;
}

.newsletter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.subheader {
  font-size: 1.5em;
  width: 45%;
  text-align: center;
  margin-bottom: 1em;
}

footer {
  background-color: #2d3648;
  padding: 64px;
}

.footer-upper .logo {
  display: inline-block;
}

footer h4 {
  color: #fff;
  margin-bottom: 1em;
}

footer a {
  color: #fff;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.footer-upper li {
  margin-bottom: 1em;
  font-weight: 300;
}

.footer-lower {
  background-color: #1a202c;
}

.footer-lower p {
  color: #cbd2e0;
  margin: auto;
  text-align: center;
  padding: 42px;
}

#contact {
  margin-bottom: 2.5em;
}

#socials {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

@media screen and (max-width: 744px) {
  .container {
    padding: 0 12px;
  }

  .hero {
    height: 100vh;
  }

  .hero-logo-container a img {
    width: 75% !important;
    height: 75%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    z-index: 10;
    position: fixed;
    right: -100%;
    top: 110px;
    gap: 0;
    flex-direction: column;
    background-color: #ef7829;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    right: 0;
  }

  .navbar ul {
    font-size: 1.8em;
    padding: 42px;
    gap: 1em;
  }

  .navbar ul li a:hover {
    color: #000;
  }

  .active {
    color: #000 !important;
    font-weight: 700;
  }

  .btn-noborder {
    font-size: 0.8em;
  }

  .hero-content {
    margin-top: 7em;
  }

  .hero-content h1 {
    font-size: 3.5em;
  }

  .hero-content p {
    width: 100%;
    margin: auto;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 1.5em;
  }

  .hero-content-buttons {
    flex-direction: column;
    gap: 1em;
  }

  .hero-content-buttons-sub {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  /* ABOUT PAGE */

  .about-content {
    padding: 55px 12px;
  }

  .about-content h4 {
    font-size: 2em;
  }

  /* STRAINS PAGE */

  .hero-content-strains {
    margin-top: 10em;
  }

  .card-collection-grid {
    grid-template-columns: 1fr; /* Set to one column for mobile */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }

  .text-content {
    background-color: #ef7829;
    padding: 42px 12px;
    margin-bottom: 2em;
  }

  .text-content h2 {
    font-weight: 300;
    font-size: 1.7em;
    text-align: left;
  }

  .header2 {
    font-size: 2em;
    font-weight: 500;
  }

  .card-collection-text {
    margin-bottom: 2em;
  }

  .card-collection-text p {
    font-size: 1.3em;
  }

  .card-collection {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .dealer-newsletter {
    padding: 64px 0;
    height: 100%;
    margin-bottom: 2em;
  }

  .dealer-newsletter h2 {
    font-size: 2em;
    width: 80%;
  }

  .dealer-form {
    width: 100%;
  }

  .dealer-form p {
    font-size: 0.8em;
  }

  .learn-section-text p {
    width: auto;
    font-size: 1em;
  }

  .article-container-alt {
    max-height: none;
    overflow: visible;
  }

  .article-content-alt {
    border-radius: 35px;
  }

  .newsletter {
    padding: 12px;
  }

  .newsletter .header2 {
    font-size: 4em;
    padding-top: 24px;
  }

  .newsletter .subheader {
    width: 100%;
    font-size: 1.2em;
  }

  .newsletter p {
    padding-bottom: 24px;
  }

  footer {
    padding: 32px 12px 64px 12px;
    text-align: center;
  }

  .footer-upper {
    flex-direction: column;
    gap: 1.5em;
  }

  .footer-upper .logo {
    margin: auto;
    width: 90%;
  }

  #socials {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  .article-grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .article-container {
    grid-column: span 1;
  }

  .article-container,
  .article-container-alt,
  .article-content-alt {
    height: auto;
  }
}
